# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
output
showcase
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

pnpm-workspace.yaml

public/mapvthree
public/external
public/ffmpeg
scripts/upload_pages_data.sh
bos-conf

github/
# Environment variables
.env
